*{
	box-sizing: border-box;
}

[class*="col-"] {float:left; padding:15px;}

/* for smartphone */
[class*="col-"] {width:100%;}

@media only screen and (min-width:600px){
	/* for tablets */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}
@media only screen and (min-width: 768px){
	/* for desktop */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}
.bg-green{background:#00510c; color:white;}
.bg-blue{background:#012051; color:white;}
.bg-red{background:#50011a; color:white;}

div.article{
	width:80%;
	margin:0 auto;
	column-count:3;
	column-gap:30px;
	column-rule-style:solid;
	column-rule-width:2px;
	column-rule-color:#000;
	background: #012051;
	color:#fff;
	padding:10px;
}
@media only screen and (max-width:768px){
	div.article{
		width:80%;
		margin:0 auto;
		column-count:2;
		column-gap:30px;
		column-rule-style:solid;
		column-rule-width:2px;
		column-rule-color:#000;
		background: #50011a;
		color:#fff;
		padding:10px;
	}
}
@media only screen and (max-width:600px){
	div.article{
		width:80%;
		margin:0 auto;
		column-count:1;
		column-gap:30px;
		column-rule-style:solid;
		column-rule-width:2px;
		column-rule-color:#000;
		background: #00510c;
		color:#fff;
		padding:10px;
	}
}

*{
	box-sizing:border-box;
}
[class*="col-"]{
	padding:15px; float:left; width:100%;
}

@media only screen and (min-width:600px){
	/* for tablets */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}

@media only screen and (min-width:768px){
	/* for desktop */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}
.image{
	width:200px;
	height:200px;
	border-radius:50%;
	margin:o auto;
	border:20px double darkgrey;
}

.container{
	width:80%;
	margin:0 auto;
}

.box{
	text-align:center;
}

*{
	box-sizing:border-box;
}
[class*="col-"]{
	padding:15px; float:left; width:100%;
}
.header{
	background: url("logo_putih.png") #5e0001 no-repeat center;
	background-size:100px 100px;
	height:200px;
}

@media only screen and (min-width:600px){
	/* for tablets */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
	.header{
		background:url("logo_putih.png") #5e0001 no-repeat center;
		height:200px;
	}
}
@media only screen and (min-width:768px){
	/* for desktop */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
	.header{
		background:url("logo_putih.png") #5e0001 no-repeat center;
		height:200px;
	}
}

.container{
	width:80%;
	margin:0 auto;
}

.sidebar ul{
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
	background:red;
}

.sidebar ul li{
	float:left;
	width:100%;
	border-bottom:2px solid #5e0001
}

.sidebar ul li a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding:15px;
	text-align:left;
}

.content{text-align:justify;}
.footer{
	background:#5e0001;
	color:#fff;
}

*{
	box-sizing:border-box;
}
[class*="col-"]{
	padding:15px; float:left; width:100%;
}

@media only screen and (min-width:600px){
	/* for tablets */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}
@media only screen and (min-width:768px){
	/* for desktop */
	.col-s-1 {width:8.33%;}
	.col-s-2 {width:16.66%;}
	.col-s-3 {width:25%;}
	.col-s-4 {width:33.33%;}
	.col-s-5 {width:41.66%;}
	.col-s-6 {width:50%;}
	.col-s-7 {width:58.33%;}
	.col-s-8 {width:66.66%;}
	.col-s-9 {width:75%;}
	.col-s-10 {width:83.33%;}
	.col-s-11 {width:91.66%;}
	.col-s-12 {width:100%;}
}

.container{
	width:80%;
	margin: auto;
}
.label{
	font-size:15px;
}
.form-control{
	padding:20px;
	font-size:15px;
	width:100%;
	height:30px;
	border:1px solid grey;
	border-radius:10px;
}
.button{
	float:right;
	background:darkblue; color:#fff;
	padding:10px;
	border:1px solid darkblue;
	border-radius:10px;
	font-weight:bolder; letter-spacing:1px;
}
fieldset{
	border-radius:10px;
}
fieldset legend{
	font-weight:bolder;
}